# --- Core y Streamlit ---
streamlit
streamlit-carousel-uui
streamlit-lottie
streamlit-folium

# --- Datos y Red ---
pandas
numpy
pyarrow
requests
python-dotenv

# --- Geoespacial y Rutas (Madrid) ---
geopandas
shapely
pyproj
pyogrio
osmnx
folium

# --- Visualización y Gráficos ---
plotly
matplotlib
seaborn
altair

# --- ML / Modelos ---
scikit-learn
xgboost
lightgbm
