Django==6.0.7
djangorestframework==3.17.1

duckdb==1.5.4
joblib==1.5.3
lightgbm==4.6.0
networkx==3.6.1
numpy==2.5.0
osmnx==2.1.0
pandas==3.0.3
plotly==6.9.0
polars==1.42.1
pyarrow==24.0.0
pyogrio==0.13.0
pyproj==3.7.2
python-dotenv==1.2.2
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
shapely==2.1.2
SQLAlchemy==2.0.51

streamlit==1.59.2
streamlit-carousel-uui==0.1.4
streamlit-lottie==0.0.5

GitPython==3.1.52
geopandas==1.1.4

watchdog==6.0.0